<!DOCTYPE html>
<html lang="en">
<head>
    <title>Perpustakaan Politeknik Belitung</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class="container">
    <!-- NAVBAR -->
    <div class="navbar-container">
        <ul class="ul-navbar">
            <li class="li-navbar">
                 <a href="home" class="a-navbar">Home</a>
            </li>

            <li class="li-navbar">
                <a href="dashboard" class="a-navbar">Dashboard</a>
            </li>

            <li class="li-navbar">
                 <a href="daftar_buku" class="a-navbar">Daftar Buku</a>
            </li>

            <li class="li-navbar">
                 <a href="pinjaman_buku" class="a-navbar">Pinjaman Buku</a>
            </li>
        </ul>

    </div>

    <div class="elaina-wangy">
        <video controls autoplay loop muted>
        <source src="{{ url_for('static', filename='elaina-sleepy-wandering-witch-moewalls-com.mp4') }}" type="video/mp4">
        </video>

    </div>
    <!-- NAVBAR SELESAI -->
        
    <!-- CONTENT 1 -->
            

        </ul>
    </div>
    <!-- CONTENT 1 SELESAI -->

    <!-- FOOTER -->


    <!-- FOOTER SELESAI -->
     </div>
    </body>
    </html>