<!DOCTYPE html>
<html lang="en">
<head>
    <title>Perpustakaan Politeknik Belitung</title>
    <link rel="stylesheet" href="style.css" />
    </head>
    <body>
    <div class="container">
    <!-- NAVBAR -->
    <div class="navbar-container">
        <ul class="ul-navbar">
            <li class="li-navbar">
                 <a href="#" class="a-navbar">Home</a>
            </li>
            <li class="li-navbar">
                <a href="about.html" class="a-navbar">Tentang Kami</a>
             </li>
            <li class="li-navbar">
                 <a href="contact.html" class="a-navbar">Contact</a>
            </li>
            <li class="li-navbar">
                 <a href="Pinjaman Buku.html" class="a-navbar">Pinjaman Buku</a>
            </li>
        </ul>

    </div>
    <!-- NAVBAR SELESAI -->
        
    <!-- CONTENT 1 -->
    <div class="content-container">
        <img src="" class="img-content" />
    </div>
    <!-- CONTENT 1 SELESAI -->

    <!-- FOOTER -->
     <div class="footer-content"> 
        <p class="judul-content"> Furina Wangy-Wangy><</p>
     </div>

    <!-- FOOTER SELESAI -->
     </div>
    </body>
    </html>