* {
    margin: 0;
    padding: 0;
}

.header-container {
    color: rgb(255, 255, 255);
    background-color: rgb(200, 3, 13);
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.1em;
    border-radius: 10px;
}